.head{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0 auto;
    align-items:center;
    background-color: #eeeded;
    padding:8px;
    border-radius: 0px 0px 10px 10px;
}
.heading{
    margin-bottom: 0px;
    font-weight:bold;
    font-size:20px;
    margin-left: 25px;
    text-align:center;
}

@media only screen and (max-width:500px) {
    .head{
        width:100%;
    }
    .heading{
        margin-left: 25px;
        font-size:17px;
    }
}